name: PlatformIO Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Cache PlatformIO
        uses: actions/cache@v4
        with:
          path: ~/.platformio
          key: platformio-${{ runner.os }}-${{ hashFiles('platformio.ini') }}

      - name: Install PlatformIO
        run: pip install --upgrade platformio

      - name: Build firmware
        run: |
          export PLATFORMIO_BUILD_FLAGS="-D FW_VERSION=\\\"${GITHUB_REF_NAME}\\\""
          pio run -e esp32s3-wroom-1-n16r8

      - name: Rename firmware
        run: |
          cp .pio/build/esp32s3-wroom-1-n16r8/firmware.bin icb-embedded-firmware.bin

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: icb-embedded-firmware.bin
